{% extends 'base.html.twig' %}

{% block title %}Hello AutoCompleteController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-6 col-sm-offset-3 mt-5">
                <form action="#" class="form">
                    <h2>Elasticsearch search as you type</h2>
                    <input class="form-control" id="search-input" name="contacts" type="text" placeholder='Search by name' />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
